# Proyecto Individual 01 de Henry por Guillermo Fernandez

#### Importar librerías necesarias

In [2]:
# Librería para trabajar con los datasets
import pandas as pd
import numpy as np

# Módulo para trabajar con rutas de archivo
from pathlib import Path

# Librería para identificar encondings
import chardet

# Librería y módulos para cargar datasets en MySQL
import pymysql
from sqlalchemy.engine import create_engine
from urllib.parse import quote_plus as urlquote
from Pass_SQL import contraseña

#### Crear una función para importar los datasets

In [78]:
def upload(filepath):
    with open(filepath, 'rb') as file:
        result = chardet.detect(file.read())
        # Para importar archivos csv, detectando encoding
        if Path(filepath).suffix == ".csv": 
            DF = pd.read_csv(filepath, encoding=result['encoding'])
        # Para importar archivos json
        elif Path(filepath).suffix == ".json": 
            DF = pd.read_json(filepath) 
    return DF

#### Cargar los datasets y explorarlos (EDA)

###### Comenzar con amazon

In [79]:
# Cargamos el dataset
amazon_df = upload(r'C:\Users\eugen\Documents\Guille\Bootcamp\Databootcamp\PI01_DATA05\Datasets\amazon_prime_titles.csv')

In [80]:
# Tomamos una fila al azar para analizarlo
amazon_df.sample(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5631,s5632,TV Show,Head Above Water,NaN,"Bronte Campbell, Kyle Chalmers, Cody Simpson, ...",NaN,NaN,2021,TV-MA,1 Season,Sports,A peek inside the life of an Olympic swimmer t...

In [81]:
# Eliminamos los datos duplicados
amazon_df.drop_duplicates();

In [82]:
# Evaluamos información del dataset, como Dtype y nulos
amazon_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9668 entries, 0 to 9667
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       9668 non-null   object
 1   type          9668 non-null   object
 2   title         9668 non-null   object
 3   director      7586 non-null   object
 4   cast          8435 non-null   object
 5   country       672 non-null    object
 6   date_added    155 non-null    object
 7   release_year  9668 non-null   int64
 8   rating        9331 non-null   object
 9   duration      9668 non-null   object
 10  listed_in     9668 non-null   object
 11  description   9668 non-null   object
dtypes: int64(1), object(11)
memory usage: 906.5+ KB

###### Seguir con Disney

In [83]:
# Realizamos los mismos pasos que en amazon
disney_df = upload(r'C:\Users\eugen\Documents\Guille\Bootcamp\Databootcamp\PI01_DATA05\Datasets\disney_plus_titles.csv')

In [84]:
disney_df.drop_duplicates();

In [85]:
disney_df.sample(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
1215,s1216,Movie,Star Wars: Revenge of the Sith (Episode III),George Lucas,"Ewan McGregor, Natalie Portman, Hayden Christe...",United States,"November 12, 2019",2005,PG-13,140 min,"Action-Adventure, Science Fiction","As the Republic falls, Anakin Skywalker become..."

In [86]:
disney_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1450 entries, 0 to 1449
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       1450 non-null   object
 1   type          1450 non-null   object
 2   title         1450 non-null   object
 3   director      977 non-null    object
 4   cast          1260 non-null   object
 5   country       1231 non-null   object
 6   date_added    1447 non-null   object
 7   release_year  1450 non-null   int64
 8   rating        1447 non-null   object
 9   duration      1450 non-null   object
 10  listed_in     1450 non-null   object
 11  description   1450 non-null   object
dtypes: int64(1), object(11)
memory usage: 136.1+ KB

###### Seguir con Hulu

In [87]:
# Nuevamente, con Hulu
hulu_df = upload(r'C:\Users\eugen\Documents\Guille\Bootcamp\Databootcamp\PI01_DATA05\Datasets\hulu_titles.csv')

In [88]:
hulu_df.sample(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
2270,s2271,Movie,False Flag,NaN,NaN,Israel,"February 14, 2019",2015,2 Seasons,NaN,"Action, Adventure, Drama",Five Israeli citizens find themselves plunged ...

In [89]:
hulu_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3073 entries, 0 to 3072
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       3073 non-null   object
 1   type          3073 non-null   object
 2   title         3073 non-null   object
 3   director      3 non-null      object
 4   cast          0 non-null      float64
 5   country       1620 non-null   object
 6   date_added    3045 non-null   object
 7   release_year  3073 non-null   int64
 8   rating        2553 non-null   object
 9   duration      2594 non-null   object
 10  listed_in     3073 non-null   object
 11  description   3069 non-null   object
dtypes: float64(1), int64(1), object(10)
memory usage: 288.2+ KB

###### Por último, cargar Netflix

In [90]:
# Finalizamos con Netflix
netflix_df = upload(r'C:\Users\eugen\Documents\Guille\Bootcamp\Databootcamp\PI01_DATA05\Datasets\netflix_titles.json')

In [91]:
netflix_df.sample(1)

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5386,s5387,TV Show,The Legend of Bruce Lee,None,"Danny Chan, Michelle Lang, Ted Duran, Hazen Ma...",China,"July 7, 2017",2008,TV-14,1 Season,"International TV Shows, TV Action & Adventure,...",The brief but spectacular career of martial ar...

In [92]:
netflix_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8807 entries, 0 to 8806
Data columns (total 12 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   show_id       8807 non-null   object
 1   type          8807 non-null   object
 2   title         8807 non-null   object
 3   director      6173 non-null   object
 4   cast          7982 non-null   object
 5   country       7976 non-null   object
 6   date_added    8797 non-null   object
 7   release_year  8807 non-null   int64
 8   rating        8803 non-null   object
 9   duration      8804 non-null   object
 10  listed_in     8807 non-null   object
 11  description   8807 non-null   object
dtypes: int64(1), object(11)
memory usage: 894.5+ KB

### Conclusiones:
*

#### Unir los 4 datasets

In [93]:
# Crear una columna con el nombre de la plataforma en cada Dataset
amazon_df['Platform'] = 'Amazon'
disney_df['Platform'] = 'Disney'
hulu_df['Platform'] = 'Hulu'
netflix_df['Platform'] = 'Netflix'

In [96]:
# Crear un dataset que una todos los otros datasets
Platform = [disney_df, hulu_df, netflix_df]
Titles_df = amazon_df
for element in Platform:
    Titles_df = pd.concat([Titles_df, element])
del Platform

In [141]:
# Exploramos el dataset que incluye a todos
Titles_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22998 entries, 0 to 22997
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   index         22998 non-null  int64
 1   show_id       22998 non-null  object
 2   type          22998 non-null  object
 3   title         22998 non-null  object
 4   director      22998 non-null  object
 5   cast          22998 non-null  object
 6   country       22998 non-null  object
 7   date_added    22998 non-null  object
 8   release_year  22998 non-null  int64
 9   rating        22998 non-null  object
 10  duration      22516 non-null  object
 11  listed_in     22998 non-null  object
 12  description   22998 non-null  object
 13  Platform      22998 non-null  object
dtypes: int64(2), object(12)
memory usage: 2.5+ MB

In [110]:
# Reseteamos indices, para evitar errores
Titles_df.reset_index(inplace=True)

#### Realizar una parte del ETL en Python

In [131]:
# Tomamos todas las columnas del Dataset, excepto duration
Columnas = list(Titles_df.columns)
Columnas.remove('duration')
Columnas

['index',
 'show_id',
 'type',
 'title',
 'director',
 'cast',
 'country',
 'date_added',
 'release_year',
 'rating',
 'listed_in',
 'description',
 'Platform']

In [132]:
# Rellenamos los valores nulos
for _, e in enumerate(Columnas):
    Titles_df[e].fillna("Sin_datos", inplace=True)

#### Realizar la carga de los datos en MySQL

###### Primero debemos crear la Base de Datos, con el archivo ETL_Script.sql

In [4]:
# Utilizamos la conexion al servidor de MySQL para cargar los datasets a la base de datos
str_conexion = 'mysql+pymysql://root:%s@localhost:3306/PI01' % urlquote(contraseña())
conexion = create_engine(str_conexion)

In [ ]:
# Cargamos el dataset en una tabla
Titles_df.to_sql(name='title', con=conexion)

#### Luego de realizar transformaciones en SQL, cargar la Base de datos limpia

In [ ]:
# Cargamos el Dataframe limpio
sql_query = pd.read_sql_query('SELECT * FROM title', conexion)
Titles_df = pd.DataFrame(sql_query);

In [8]:
# Pasamos a CSV para consumirlo con la API
Titles_df.to_csv(r'C:\Users\eugen\Documents\Guille\Bootcamp\PI01_DATA05\Datasets\All_titles.csv', index=False)